@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Roboto+Slab:wght@300&family=Roboto:wght@300&family=RocknRoll+One&display=swap');

*{ 
    font-family: 'RocknRoll One', sans-serif;
    margin: 5px;
    padding: 0;
}
body{
    background: linear-gradient(to bottom, #6A2C70, coral  ); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.App {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.App h1{
    display: inline;
    text-align: center;
    margin-top: 2rem;
    color : bisque;
    text-shadow:  0 0 5px coral,
    3px -1px 5px rgba(255, 127, 80, 0.603);
    margin-bottom: 2rem;
    }